.modal-container {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);

	.modal {
		height: 70%;
		width: 60%;
		margin: 5% auto;
		padding: 2rem;
		border-radius: 20px;
		background-color: #2e2e2e;
		overflow: scroll;

		.close {
			color: #aaa;
			float: right;
			font-size: 28px;
			position: relative;
			z-index: 100;
			line-height: 0.55;
		}

		.close:hover,
		.close:focus {
			color: #7a7a7a;
			text-decoration: none;
			cursor: pointer;
		}

		/* followers modal */
		.grid {
			display: grid;
			height: 100%;
			column-gap: 2rem;
			grid-template-columns: 50% 50%;
			padding-top: 2rem;

			.col {
				overflow: scroll;

				.mb {
					margin-top: 2rem;
				}

				.ghost-followers-info {
					margin-top: 2rem;
					font-weight: 600;
					font-size: 18px;
				}
			}
		}
	}
}
