.panel {
	max-width: 100%;
	height: 15rem;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.08);
	box-shadow: -5px 6px 10px 2px rgba(10, 10, 10, 0.15);
	padding: 2rem;
	margin-bottom: 2rem;
	text-wrap: wrap;
	word-wrap: break-word;
}

h4, h3 {
	margin: 0
}

p {
	margin: 0;
	margin-top: 0.5rem;
}