.panel {
	max-width: 100%;
	height: calc(100vh - 12rem);
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.08);
	box-shadow: -5px 6px 10px 2px rgba(10, 10, 10, 0.15);
	padding: 2rem;
	margin-bottom: 2rem;
	text-wrap: wrap;
	word-wrap: break-word;
	overflow: scroll;

	h3 {
		font-size: 22px;
		margin: 0
	}
	
	h4 {
		font-size: 18px;
		margin: 0
	}

	.info {
		font-size: 14px;
		margin: 0;
		margin-top: 0.5rem;
		color: rgba(255, 255, 255, 0.5);;
	}
	
	.list {
		margin-top: 2rem;
	}
}

.fans-panel {
	height: calc((100vh - 18rem) / 2) !important;
}